.env
.idea
.vscode
.DS_Store

artifacts/*
SHOULD_INIT

main/handlers/assets/bindata.go

*.db
*.dmg

vendor
data

test/e2e/cypress/plugins/
test/e2e/cypress/support/
test/e2e/cypress/videos/
test/e2e/node_modules/
