---
version: '3.7'

networks:
  xes-platform-network:
    name: xes-platform-network

services:
  platform:
    image: 907208926079.dkr.ecr.us-east-1.amazonaws.com/proxeusapp/dev/core:latest
    container_name: xes-platform
    depends_on:
      - document-service
    networks:
      - xes-platform-network
    restart: unless-stopped
    environment:
      TZ: Europe/Zurich
      PROXEUS_PLATFORM_DOMAIN: "http://xes-platform:1323"
      PROXEUS_DOCUMENT_SERVICE_URL: "http://document-service:2115/"
      PROXEUS_BLOCKCHAIN_CONTRACT_ADDRESS: "0x1d3e5c81bf4bc60d41a8fbbb3d1bae6f03a75f71"
      PROXEUS_INFURA_API_KEY: "a158cc547aa3497fac495d878a01a548"
      PROXEUS_SPARKPOST_API_KEY: "c23db9294121cc3f6a7febd9b70a3d5f609e39e0"
      PROXEUS_ENCRYPTION_SECRET_KEY: "FMfcgxwLtkdQjPMdgzJWJdTPnrrlmhpm"
      PROXEUS_EMAIL_FROM: "no-reply@example.com"
      PROXEUS_AIRDROP_WALLET_FILE: "/root/.proxeus/settings/airdropwallet.json"
      PROXEUS_AIRDROP_WALLET_KEY: "/root/.proxeus/settings/airdropwallet.key"
      PROXEUS_DATABASE_ENGINE: "storm"
      PROXEUS_DATABASE_URI: "mongodb://root:root@mongo:27017"
      PROXEUS_TEST_MODE: "false"
      PROXEUS_ALLOW_HTTP: "true"
    ports:
      - "1323:1323"
    volumes:
      - ./data/proxeus-platform/data:/data/hosted
      - ./data/proxeus-platform/settings:/root/.proxeus/settings

  document-service:
    image: proxeus/document-service:latest
    container_name: xes_document_service
    networks:
      - xes-platform-network
    restart: unless-stopped
    environment:
      TZ: Europe/Zurich
    ports:
      - "2115:2115"
    volumes:
      - ${PROXEUS_DATA_DIR:-./data}/document-service/logs:/document-service/logs
      - ${PROXEUS_DATA_DIR:-./data}/document-service/fonts:/document-service/fonts

  node-mail-sender:
    image: proxeus/node-mail-sender:latest
    container_name: xes_node-mail-sender
    networks:
      - xes-platform-network
    restart: unless-stopped
    environment:
      PROXEUS_INSTANCE_URL: "${PROXEUS_PLATFORM_DOMAIN:-http://xes-platform:1323}"
      SERVICE_SECRET: secret
      SERVICE_PORT: 8013
      SERVICE_URL: "${NODE_CRYPTO_RATES_URL:-http://node-mail-sender:8013}"
      TZ: Europe/Zurich
      PROXEUS_SPARKPOST_API_KEY: "${PROXEUS_SPARKPOST_API_KEY}"
    ports:
      - "8013:8013"

  node-crypto-forex-rates:
    image: proxeus/node-crypto-forex-rates:latest
    container_name: xes_node-crypto-forex-rates
    networks:
      - xes-platform-network
    restart: unless-stopped
    environment:
      PROXEUS_INSTANCE_URL: "${PROXEUS_PLATFORM_DOMAIN:-http://xes-platform:1323}"
      SERVICE_SECRET: secret
      SERVICE_PORT: 8011
      SERVICE_URL: "${NODE_CRYPTO_RATES_URL:-http://node-crypto-forex-rates:8011}"
      TZ: Europe/Zurich
    ports:
      - "8011:8011"

  node-balance-retriever:
    image: proxeus/node-balance-retriever:latest
    container_name: xes_node-node-balance-retriever
    networks:
      - xes-platform-network
    restart: unless-stopped
    environment:
      PROXEUS_INSTANCE_URL: "${PROXEUS_PLATFORM_DOMAIN:-http://xes-platform:1323}"
      PROXEUS_ETH_CLIENT_URL: "${PROXEUS_ETH_CLIENT_URL:-https://ropsten.infura.io/v3/}"
      PROXEUS_INFURA_API_KEY: ${PROXEUS_INFURA_API_KEY}
      SERVICE_SECRET: secret
      SERVICE_PORT: 8012
      SERVICE_URL: "${NODE_BALANCE_RETRIEVER_URL:-http://node-balance-retriever:8012}"
      TZ: Europe/Zurich
    ports:
      - "8012:8012"

  node-proof-of-existence:
    image: proxeus/node-proof-of-existence:latest
    container_name: xes_node-proof-of-existence
    networks:
      - xes-platform-network
    restart: unless-stopped
    environment:
      PROXEUS_INSTANCE_URL: "${PROXEUS_PLATFORM_DOMAIN:-http://xes-platform:1323}"
      SERVICE_SECRET: secret
      SERVICE_PORT: 8014
      SERVICE_URL: "${SERVICE_DOMAIN:-http://node-proof-of-existence:8014}"
      TWITTER_CONSUMER_KEY: ${TWITTER_CONSUMER_KEY}
      TWITTER_CONSUMER_SECRET: ${TWITTER_CONSUMER_SECRET}
      TZ: Europe/Zurich
    ports:
      - "8014:8014"

  node-json-sender:
    image: proxeus/node-json-sender:latest
    container_name: xes_node-json-sender
    networks:
      - xes-platform-network
    restart: unless-stopped
    environment:
      PROXEUS_INSTANCE_URL: "${PROXEUS_PLATFORM_DOMAIN:-http://xes-platform:1323}"
      SERVICE_SECRET: secret
      SERVICE_PORT: 8015
      SERVICE_URL: "${SERVICE_DOMAIN:-http://node-proof-of-existence:8015}"
      JSON_SENDER_URL: http://url:123/endpoint
      JSON_SENDER_HEADER_clientid: client_id
      JSON_SENDER_HEADER_tenantid: tenant_id
      JSON_SENDER_HEADER_secret: secret
      JSON_SENDER_HEADER_oauthserverurl: oauth_url
      TZ: Europe/Zurich
    ports:
      - "8015:8015"
