$color-primary: #062985;
$base-bg-color: #ffffff;
$nav-top-color: $color-primary;
$nav-top-bg-color: $base-bg-color;
$nav-top-height: 92px;
$color-secondary: #40e1d1;
$color-inactive: #dcdcdc;
$color-inactive2: #a4a4a4;
$color-inactive3: #ced5e7;
$color-inactive4: #f1f1f1;
$nav-top-b-color: $color-inactive;
$input-height: 45px;
$border-radius: 0;
$formfields-font-size: 14px;
$label-font-size: 18px;
$formfields-font-family: "WorkSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$labelAndRest-font-family: $formfields-font-family;
$title-font-family: "WorkSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$leftSideSpacingFromBrowserFrame: 20px;

@mixin text-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
