@use "sass:math";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$nav-max-width: 265px;

@mixin toggle {
  min-width: 80px;
  max-width: 80px;
  width: 80px !important;

  .navbar-brand {
    padding-left: 1.4rem !important;
    max-width: 68px;
  }

  .nav-item {
    width: 100%;

    .nav-link {
      padding: 0.7rem 1.6rem;
      overflow: visible;
    }
  }

  .brand-name {
    display: none;
  }

  .nav-link-title {
    display: none;
  }

  .nav-link.dropdown-toggle::after {
    display: none;
  }
}

.sidebar {
  background: #062a85;
  top: 0;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: $nav-max-width;
  -webkit-transition: max-width 0.2s ease;
  transition: max-width 0.2s ease;
  transition: left 0.4s ease;
  will-change: max-width;
  height: calc(100vh);

  .navbar-brand {
    overflow: hidden;
    padding-left: 1.7rem;
    padding-top: math.div($spacer, 1.5);
    padding-bottom: math.div($spacer, 3);
    text-align: center;
    img {
      height: 3.75rem;
      margin: 1rem auto;
    }
  }

  .nav-link {
    vertical-align: middle;
    color: #83a0d8;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9rem;
    letter-spacing: 0.1px;

    &.dropdown-toggle::after {
      margin-left: 1rem;
      vertical-align: middle;
    }

    &.router-link-active {
      background: #1a3d96;
      color: white;

      .material-icons {
        color: white;
      }
    }

    &.router-link-exact-active {
      background: #1a3d96;
      color: white;

      .material-icons {
        color: white;
      }
    }

    &:hover {
      background: #254394;
    }

    span {
      vertical-align: middle;
    }
  }

  .nav-link .material-icons {
    font-size: 1.6rem;
    margin-right: $spacer;
    vertical-align: middle;
    color: #a9bce0;
  }

  .nav-item {
    width: 100%;
  }

  &.toggled {
    @include toggle;
  }

  @media (max-width: 979px) {
    @include toggle;
  }

  .navbar-brand {
    color: #e5efff;
  }
  .secondary-nav {
    bottom: 0;
    max-width: $nav-max-width;
    background: #062a85;
    box-shadow: -5px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition: max-width 0.2s ease;
    transition: max-width 0.2s ease;
    will-change: max-width;

    .nav-item {
      max-width: 100%;
    }

    &.toggled {
      @include toggle;
    }
  }
  .main-nav {
    height: 100%;
  }
  &.main-nav-backend {
    margin-top: -23px;
  }
  &.main-nav-frontend {
    margin-top: -8px;
  }
}

.sidebar.sidebar-light {
  background-color: $light;

  .secondary-nav {
    background: $light;
    box-shadow: -5px 0px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-link {
    color: #062a85;

    &.router-link-active {
      background: #ebeced;
      color: #062a85;

      .material-icons {
        color: #062a85;
      }
    }

    &.router-link-exact-active {
      background: #ebeced;
      color: #062a85;

      .material-icons {
        color: #062a85;
      }
    }

    &:hover {
      background: #e1e5e8;
    }
  }

  .nav-link .material-icons {
    color: #062a85;
  }
}

.sidebar.menutoggled {
  z-index: 1000;

  @media (max-width: 767px) {
    left: 0;

    .navbar-brand {
      max-width: $nav-max-width !important;
    }
    .nav-item .nav-link {
      width: 100%;
    }
    .nav-link-title {
      display: inline;
    }
    .secondary-nav {
      width: 100%;
    }
    .secondary-nav .nav-item .nav-link {
      width: 100%;
    }
    .secondary-nav .nav-link-title {
      display: inline;
    }
  }
}

.sidebar-bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  z-index: 22232734;
}

.sidebar-close-btn {
  right: 8px;
  top: 8px;
  position: fixed;
  color: white;
  cursor: pointer;
  font-size: 30px;
}

.sidebar-close-btn:hover {
  color: $cyan;
}
